* {
  margin: 0;
  padding: 0;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg7);
  background-size: cover;
  background-position: bottom;
}

.main-visual h1 {
  color: #808080;
  padding: 20px;
}

.box {
  width: 840px;
  margin: 50px auto;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 30px;
}